@media (min-width: 768px) {
    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    #menu-button {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}